<%= form_with model: article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
    <%= form.label :images %><br>
    <%= form.file_field :images, multiple: true %><br>
    </div>
    <br>
    <div>
      <%= form.label :tag %><br>
      <%= form.text_area :tag %><br>
      <% article.errors.full_messages_for(:tag).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div><br>
    <div>
      <%= form.submit %>
      </div>
<% end %>
  