<h1>Hello Rails</h1>
<div class =container>
<% if current_admin_user %>
    <h4>Welcome  <%= current_admin_user.email %></h4>
    <%=button_to "Log_out",  destroy_admin_user_session_path, method: :delete %><br>

    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
  
  <%= link_to "New Article", new_article_path %>
      
  
    
<% else %>
    <p> you are not signed </p>
    <%= link_to "Sign_Up",  new_admin_user_session_path   %>
    <br/>
    <%= link_to "Log_In", admin_user_session_path %>
<% end %>
<br>